In [13]:
import pandas as pd 
import numpy as np

df=pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv", usecols=['fuel','seller_type','transmission','owner'])
df.head()

     fuel seller_type transmission         owner
0  Petrol  Individual       Manual   First Owner
1  Petrol  Individual       Manual   First Owner
2  Diesel  Individual       Manual   First Owner
3  Petrol  Individual       Manual   First Owner
4  Diesel  Individual       Manual  Second Owner

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('fuel', axis=1),df['fuel'], test_size=0.2,random_state=42)

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner
1025  Individual       Manual   First Owner
4242      Dealer       Manual   First Owner
...          ...          ...           ...
3444  Individual       Manual   First Owner
466   Individual       Manual   First Owner
3092      Dealer       Manual   First Owner
3772  Individual       Manual   First Owner
860   Individual       Manual   First Owner

[3472 rows x 3 columns]

In [20]:
from sklearn.preprocessing import LabelEncoder , OrdinalEncoder
le=LabelEncoder()
#lable encoder for y value
y_train_tran=le.fit_transform(y_train)
y_test_tran=le.transform(y_test)

#ordinalencoder for x value

oe=OrdinalEncoder()
x_train_trans=oe.fit_transform(x_train)
x_trst_trans=oe.transform(x_test)
x_train_trans

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]], shape=(3472, 3))

In [21]:
x_train.head(3)

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner